//black colors
$primary-black: #000000;
$light-black: #00000080;
$shade-black: #272d4e;

//white colors
$primary-white: #ffffff;

//red colors
$primary-red: #ff5757;
$light-red: #ffe1e1;

//blue-colors
$primary-blue: #24578c;
$secondary-blue: #053f7c;
$light-blue: #d9ffff;

//ash colors
$primary-ash: #f9f9f9;
$light-ash: #ededed;
$fade-ash: #e5e5e5;

//grey colors
$primary-grey: #a9a9a9;
$fade-grey: #d1d1d1;
$light-grey: #757575;

//yellow colors
$primary-yellow: #ffba49;
