//THE GROUPER
.hmbcontainer{
    margin-top: 1.125rem !important;
}

.grid__Container {
    display: grid;
    grid-template-columns: 0.9fr 3.1fr 1fr;
    grid-template-rows: 356px;
    gap: 0rem 1rem;
  }

@media screen and (max-width: 992px) {
    .leftSideBar, .rightSideBar{
        display: none !important;
        visibility: hidden;
        clear: both;
    }
    .grid__Container {
        grid-template-columns: 0fr 1fr 0fr;
        gap: 0rem;
      }
}

@media screen and (max-width: 576px) {
    .grid__Container {
    grid-template-rows: 12rem;
  }
  
}

@media screen and (max-width: 480px) {
    .grid__Container {
    grid-template-rows: 8rem;
  }
  
}


//THE LEFT SIDEBAR
.leftSidebar__container{
    background: #FFFFFF;
    box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
    border-radius: 0.313rem;
    padding-top: 0.125rem !important;
    padding-bottom: 0.125rem !important;
    max-width: 15.75rem;
}
.leftSidebar__container>div{
    padding: 0.25rem 0.188rem !important;
}
.leftSideBar__icon{
    padding-right: 0.813rem !important;
    padding-left: 0.625rem !important;
    float: left;
}
.leftSideBar__text{
    font-size:0.75rem;
    color: #282828 !important;
}
.leftSideBar__grp{
    display: flex;
}
@media only screen and (max-width:992px){
    .leftSidebar__container{
        display: none;
    }
}


//MIDDLE SIDEBAR
.CarouselItem {
    margin-right: -100% !important;
    height: 100%;
  }
  .carousel-item .img-fluid {
    width: 100%;
    height: 100%;
  }
  
  .Carousel__container {
    width: 100%;
    height: 100%;
  }
  .imgSize {
    object-fit: cover;
    border-radius: 0.313rem;
  }
  .Carousel__container .carousel-inner{
    height: 100% !important;
  }
  @media screen and (max-width: 576px) {
    .CarouselItem {
      height: 12rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .CarouselItem {
      height: 8rem;
    }
    
    .hmbcontainer, .row1 {
      margin-top:  0.75rem !important;
  }
  }

  //THE RIGHT SIDE BAR
  .rightSidebar__container {
    min-width: 206px;
  }
  .rightSidebar__top {
    background: #ffffff;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.05);
    border-radius: 0.313rem;
  }
  
  .rightSidebar__top > div {
    padding: 0.563rem 0.875rem !important;
  }
  .rightSideBar__icon {
    padding-right: 0.563rem !important;
    float: left;
  }
  .rightSideBar__text1 {
    float: left;
    font-weight: 500;
    font-size: 0.875rem;
  }
  .rightSideBar__text2 {
    font-size: 0.688rem;
    display: block;
  }
  .rightSidebar__bottom {
    margin-top: 0.875rem !important;
    height: 10.5rem;
  }
  .rightSidebar__bottomImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.313rem;
  }
  
  @media only screen and (max-width: 992px) {
    .rightSidebar__container {
      display: none;
    }
  }
  