.imageDisplaySection{ 
    margin-bottom: 1.625rem !important;
}
.displayImage{
    width: 100%;
    height:15.625rem;
    object-fit:cover;
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
}
.displayImage__wrapper{
    padding: 1rem 0.875rem !important;
}
.displayImageContainer{
    background: #FFFFFF;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.05);
    border-radius: 0.313rem;
}




@media screen and (max-width:576px){
    .displayImage{
        height:6rem;
    }
    .displayImage__wrapper{
        padding: 0.5rem !important;
    }
}

