.ProductCardGroupBig {
  margin-top: 1.625rem !important;
}
.prodSmallCol {
  display: flex;
}
.prodSmallRow {
  padding: 1.25rem 0.625rem 1rem 0.75rem !important;
}
.discAlign {
  position: absolute;
  right: 3.75rem;
}


@media screen and (max-width: 351px) {
    .pImage__wrapper{
        margin-left: auto !important;
    margin-right: auto !important;
    }
}
